<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Integration Manager</h1>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
      <b-col>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>URL</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="integration in integrations" :key="integration.id">
              <td>{{ integration.title }}</td>
              <td>{{ integration.url }}</td>
              <td class="text-right">
                <a href="#" @click.prevent="populateIntegrationToEdit(integration)">Edit</a> -
                <a href="#" @click.prevent="deleteIntegration(integration.id)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
      <b-col lg="3">
        <b-card :title="(model.id ? 'Edit Integration ' + model.title : 'New Integration')">
          <form @submit.prevent="saveIntegration">
            <b-form-group label="Title">
              <b-form-input type="text" v-model="model.title"></b-form-input>
            </b-form-group>
            <b-form-group label="URL">
              <b-form-input type="text" v-model="model.url"></b-form-input>
            </b-form-group>
            <div>
              <b-btn type="submit" variant="success">Save</b-btn>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      loading: false,
      integrations: [],
      model: {}
    }
  },
  async created () {
    this.refreshIntegrations()
  },
  methods: {
    async refreshIntegrations () {
      this.loading = true
      this.integrations = await api.getIntegrations()
      this.loading = false
    },
    async populateIntegrationToEdit (post) {
      this.model = Object.assign({}, post)
    },
    async saveIntegration () {
      if (this.model.id) {
        await api.updateIntegration(this.model.id, this.model)
      } else {
        await api.createIntegration(this.model)
      }
      this.model = {} // reset form
      await this.refreshIntegrations()
    },
    async deleteIntegration (id) {
      if (confirm('Are you sure you want to delete this integration?')) {
        // if we are editing an integration we deleted, remove it from the form
        if (this.model.id === id) {
          this.model = {}
        }
        await api.deleteIntegration(id)
        await this.refreshIntegrations()
      }
    }
  }
}
</script>