<template>
  <div class="pomodoro">
    <div>

      <b-alert  :variant="alertVariant"
                dismissible
                :show="showDismissibleAlert"
                @dismissed="showDismissibleAlert=false">
        {{ alertMessage }}
      </b-alert>

      <h1 class="display-3">{{ heading }}</h1>
      <p class="subheading">{{ motivation }}</p>

      <b-form @submit.prevent="onSubmit">
        <b-row >
          <b-col sm="4"></b-col>
          <b-col sm="4">
            <b-form-input 
              :disabled="!canEdit"
              class="minutes-input"
              size="lg" 
              type="text" 
              placeholder="00:00" 
              v-model="time">
            </b-form-input>
          </b-col>
          <b-col sm="4"></b-col>
        </b-row>
        <p class="subheading">{{ timerMessage }}</p>
        <b-btn size="lg" type="submit" :variant="submitVariant">{{ submitMessage }}</b-btn>
      </b-form>

    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'pomodoro',
  data () {
    return {
      running: false,
      minutes: 25,
      seconds: 0,
      interval: null,
      canEdit: true,
      alertMessage: null,
      alertVariant: null,
      showDismissibleAlert: false
    }
  },
  computed: {
    heading () {
      return "Let's focus"
    },
    motivation () {
      return 'This is going to be super productive!'
    },
    timerMessage () {
      return (this.running) ? 'remaining' : 'minutes on the clock'
    },
    submitMessage () {
      return (this.running) ? 'STOP' : 'START'
    },
    submitVariant () {
      return (this.running) ? 'danger' : 'success'
    },
    secondsShown () {
      if (this.seconds < 10) {
        return '0' + parseInt(this.seconds, 10)
      }
      return this.seconds
    },
    time: {
      get () {
        return this.minutes + ':' + this.secondsShown
      },
      set (newValue) {
        this.minutes = newValue.split(':')[0]
        this.seconds = newValue.split(':')[1]
      }
    }
  },
  methods: {
    validTime () {
      let regex = /^(?:[0-9][0-9]|[01]\d|\d):[0-5]\d$/
      return regex.test(this.time)
    },
    onSubmit () {
      if (this.validTime()) {
        this.showDismissibleAlert = false
        this.canEdit = !this.canEdit
        this.running = !this.running
        if (this.interval === null) {
          this.interval = setInterval(this.intervalCallback, 1000)
        } else {
          clearInterval(this.interval)
          this.interval = null
        }
      } else {
        this.alertVariant = 'danger'
        this.alertMessage = 'Why you no valid format (mm:ss)???'
        this.showDismissibleAlert = true
      }
    },
    intervalCallback () {
      if (!this.running) return false

      if (parseInt(this.seconds) === 0) {
        if (parseInt(this.minutes) === 0) {
          this.timerComplete()
          return null
        }
        this.seconds = 59
        this.minutes--
      } else {
        this.seconds--
      }
    },
    timerComplete () {
      this.canEdit = true
      this.alertMessage = 'Good work! Now take a 5 minute break.'
      this.alertVariant = 'success'
      this.showDismissibleAlert = true
      this.running = false
      this.minutes = 25
      clearInterval(this.interval)
      this.interval = null
      this.triggerIntegrations()
    },
    async triggerIntegrations () {
      await api.triggerIntegrations()
    }
  }
}
</script>

<style>
  .pomodoro {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .pomodoro .subheading {
    font-weight: 200;
    font-size: 1.5rem;
  }
  .minutes-input {
    height: 100px;
    font-size: 3.25rem;
    margin-bottom: 10px;
    border: 0;
    text-align: center;
    background-color: white !important; /* Had to important in order to overide :disabled */
  }
  .minutes-input:focus {
    border: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0)
  }
</style>